* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open+Sans', Oswald,  sans-serif;
    background: #969696;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
    opacity : 0.9;
}


header {
    width: auto;
    text-align: center;
}

header p {
    vertical-align: middle;
    font-family: 'Open+Sans',  sans-serif;
    font-weight: 700;
    font-size: 36px;
}

header div {
    padding: 5px 0;
}

/* Формат форми для вводу міста */

#search {
   float: right;
}

#search input[type="text"], #search input[type="button"] {
    font-size: 18px;
    border: none;
    padding: 0 5px;
    margin: 0;
}

#search input[type="text"] {
    width: 150px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    background: #E5E5E5;
}

#search input[type="button"] {
    width: 100px;
    height: 35px;
    margin-left: -3.25px;
    border-radius: 0 5px 5px 0;

}

/* Формат виводу міста */

#city {
    clear: both;
    position: relative;
    left: 100px;
    height: 50px;
    width: 400px;
}

#city p {
    text-align: left;
    font: 36px 'Open+Sans',  sans-serif;
    color: black;
}

/* Формат погодного вікна для поточної дати */

#today {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    clear: both;
    position: relative;
    left: 40px;
    top: 50px;
    background: #CACACA;
    border-radius: 10px;
}

#today div {
     display: inline-block;
}

.day-today {
    position: relative;
    top: 30px;
    font: 30px Oswald,  sans-serif;
    text-align: center;
    width: 300px;
    height: 40px;
}

.icon-today {
    position: relative;
    left: 10px;
    top: 30px;
    width: 100px;
    height: 100px;
}

#today .icon-today img {
    width: 100px;
    height: 100px;
}

.tempd-today {
    position: relative;
    left: 20px;
    top: 10px;
    width: 170px;
    height: 80px;
    text-align: center;
    font: 72px Oswald,  sans-serif;
}

.tempn-today {
    position: relative;
    left: 120px;
    top: 10px;
    width: 170px;
    height: 50px;
    text-align: center;
    font: 48px Oswald,  sans-serif;
}

.cond-today, .wind-today, .hum-today {
    position: relative;
    left: 20px;
    top: 40px;
    width: 260px;
    height: 40px;
    text-align: left;
    font: 24px Oswald,  sans-serif;
}

.cond-today:first-letter {
    text-transform: uppercase;
}

#today:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    background: rgba(236, 236, 236, 0.9);
}

/* Формат погодного вікна для наступного тижня */

#forecast {
    width: 850px;
    height: 400px;
    position: relative;
    left: 400px;
    top: -350px;
    text-align: center;
    vertical-align: middle;
}

#forecast h1 {
    font: 120px  'Open+Sans',  sans-serif;;
}

#day {
    width: 200px;
    height: 400px;
    border: 1px solid black;
    position: relative;
    background: #CACACA;
    border-radius: 10px;
    display: inline-block;
    left: 20px;
}

.day {
    position: relative;
    top: 20px;
    font: 32px 'Open+Sans',  sans-serif;
    text-align: center;
    width: 180px;
    height: 50px;
}

.tempd{
    position: relative;
    left: 20px;
    top: 40px;
    width:160px;
    height: 80px;
    text-align: center;
    font: 64px  'Open+Sans',  sans-serif;
}

.tempn{
    position: relative;
    left: 20px;
    top: 40px;
    width:160px;
    height: 50px;
    text-align: center;
    font: 32px  'Open+Sans',  sans-serif;
}

.icon {
    position: relative;
    left: 20px;
    top: 40px;
    width: 140px;
    height: 100px;
}

#forecast  img {
    width: 100px;
    height: 100px;
}


.cond {
    position: relative;
    left: 20px;
    top: 40px;
    width: 160px;
    height: 40px;
    text-align: center;
    font: 18px 'Open+Sans',  sans-serif;
}

.cond:first-letter {
    text-transform: uppercase;
}

#day:hover {
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    background: rgba(236, 236, 236, 0.9);
}


/* Формат футера*/

footer {
    clear: both;
    position: relative;
    left: 80px;
    top:-300px;
    width: 700px;
    height: 35px;
    
}

footer p {
    font: 18px  'Open+Sans',  Sans-Serif; 
    color: black;
    text-align: left;
}

#contact a {
    font: 18px  'Open+Sans',  Sans-Serif; 
    font-style: italic;
    color: black;
    text-decoration: none;
}

#contact a:hover {
    color: #5E5E5E;
}

.rain {
    background: url(../images/rain.jpg) no-repeat; 
}

.cloud {
    background: url(images/cloud.jpg) no-repeat; 
}

.sun {
    background: url(images/sun.jpg) no-repeat; 
}

.frost {
    background: url(images/frost.jpg) no-repeat; 
}
